<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p><a href="/">На главную</a> </p>


<form method="post" th:action="@{/julia}"  th:object="${julia}">
      <label>X =  <input th:field="*{ax}" type="text"></label>
    <label>Y = <input th:field="*{bx}" type="text"></label>
    <label>N итераций меняет цветопередачу :[100-500] <input th:field="*{iteration}" type="text"></label>

    <h3>
        попробовать параметры....
    </h3>

    <p>
    <li>координаты [-0.55, -0.55]</li>
    <br>
    <li>координаты [0.45, 0.14828]</li>
    <br>
    <li> координаты [-0.70176, -0.2321]</li>
    <br>
    <li>координаты [-0.835, 0.156]</li>
    <br>
    <li>координаты [-0.7269, 0.1889]</li>
    <br>
    <li>координаты [0.285, 0.01]</li>
    <br>
    <li>координаты [-0.0085, 0.71]</li>
    <br>
    <li> координаты [-0.74543,0.11301]</li>
    </p>


    <p><input type="submit" value="Нарисовать"></p>


</form>
<img th:if="${imgname}" th:src="@{'/image/'+${imgname}}" alt="iii" width="1920" height="1080" border="2" />
<p> Строим множество Жули с координатами  <span th:if="${addInfo}" th:text="${addInfo}" style="color:red"></span>  !</p>



</body>
</html>