<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" th:action="@{/speransky}" th:object="${speransky}">
    <label>Введите количество итераций: <input th:field="*{iteration}" type="text"></label>
    <p><input type="submit" value="Нарисовать"></p>
    <img th:src="@{'/image/'+${imgname}}" alt="iii" width="650" height="650" border="2" />
   <!--<img th:src="@{'/image/'+${imgname}}" alt="q" width="650" height="650" border="2" />-->
    <!--<img src="D:\my\fractalTools\src\main\resources\image\speransky.png"  />-->
    <!--<p><a href="/speransky/image">Показать изображение</a> </p>-->

</form>

<p> Строим Сперанского на  <span th:if="${addInfo}" th:text="${addInfo}" style="color:red"></span> итераций !</p>



<p><a href="/">На главную</a> </p>
</body>
</html>