<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a href="/">На главную</a> </p>

<form method="post" th:action="@{/tfractal}" th:object="${tfractal}">
    <label>Введите количество итераций: <input th:field="*{iteration}" type="text"></label>
    <p><input type="submit" value="Нарисовать"></p>
    <img th:src="@{'/image/'+${imgname}}" alt="iii" width="2000" height="1000" border="2" />


</form>

<p> Строим Т-фрактал на  <span th:if="${addInfo}" th:text="${addInfo}" style="color:red"></span> итераций !</p>


</body>
</html>