<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p><a href="/">На главную</a> </p>

<form method="post" th:action="@{/mandelbrot}" th:object="${mandelbrot}">
   <div>Фрактал Мандельброт в диапозоне [-1.9,-1.2]--[ 0.5,1.2]) </div>
    <label>Введите количество итераций меняет цветопередачу [100..1000]: <input th:field="*{iteration}" type="text"></label>
    <p><input type="submit" value="Нарисовать"></p>

</form>

<img th:if="${imgname}" th:src="@{'/image/'+${imgname}}" alt="iii" width="1920" height="1080" border="2" />
<p> Строим фрактал -  <span th:if="${addInfo}" th:text="${addInfo}" style="color:red"></span> !</p>


</body>
</html>