<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p><a href="/">На главную</a>

<form method="post" th:action="@{/circus}" th:object="${circus}">

    <label>Введите количество окружностей внутри круга: <input th:field="*{iteration}" type="text"></label>
    <p><input type="submit" value="Нарисовать"></p>

</form>
<!--<img th:if="${imgname}" th:src="@{'/image/'+${imgname}}" alt="iii" width="650" height="650" border="2" />-->
<img th:if="${imgname}" th:src="@{'/image/'+${imgname}}" alt="iii" width="650" height="650" border="2" />

<p> Строим круговой фрактал на  <span th:if="${addInfo}" th:text="${addInfo}" style="color:red"></span> итераций !</p>




</body>
</html>