<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" th:action="@{/circus}" th:object="${circus}">
    <label>Введите количество окружностей внутри круга: <input th:field="*{iteration}" type="text"></label>
    <p><input type="submit" value="Нарисовать"></p>

    <img th:src="@{'/image/'+${imgname}}" alt="iii" width="650" height="650" border="2" />
    <!--<img th:src="@{'/image/'+${imgname}}" alt="q" width="650" height="650" border="2" />-->
    <!--<img src="D:\my\fractalTools\src\main\resources\image\speransky.png"  />-->

</form>

<p> Строим круговой фрактал на  <span th:if="${addInfo}" th:text="${addInfo}" style="color:red"></span> итераций !</p>



<p><a href="/">На главную</a> </p>


</body>
</html>